@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  padding: 5px;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: #353353;
  font-size: 0.6rem;
  font-family: "Roboto", sans-serif;
}

.parent {
  background: linear-gradient(#302f4e, #ff4c60);
  width: 400px;
  height: 400px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.child {
  background: coral;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 200px;
  padding: 2rem;
  //   transition: all 1s;
  //   transition-timing-function: cubic-bezier(1, 0.01, 0.85, 1.22);
}
// .parent:hover .child {
//   transform: rotate(180deg);
//   background: chartreuse;
//   color: aliceblue;
// }

.parent .child {
  animation-name: moveBall;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  //   animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate; // go backwards
}
.parent:hover .child {
  animation-play-state: paused;
}

@keyframes moveBall {
  0% {
    transform: translateX(0%);
    background: linear-gradient(cyan, #302f4e);
    color: black;
  }
  33% {
    transform: translateY(100%);
    background: linear-gradient(#302f4e, cyan);
    color: ghostwhite;
  }
  //   34% {
  //     transform: rotate(180deg);
  //   }

  66% {
    transform: translateX(100%) translateY(100%);
    background: linear-gradient(darkseagreen, darkviolet);
    color: gold;
  }
  //   67% {
  //     transform: rotate(180deg);
  //   }
  100% {
    transform: translateX(100%);
    background: linear-gradient(darkviolet, gold);
    color: floralwhite;
  }
}
